<% content_for :title, "Team" %>

<!-- Page Content -->
<div class="contact1">
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
       <%= image_tag "Maxence.png", class:"card-img-top", alt: "..." %>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Maxence Couturier</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
       <%= image_tag "Francois.png", class:"card-img-top", alt: "..." %>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Francois Thiounn</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
       <%= image_tag "Fanny.png", class:"card-img-top", alt: "..." %>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Fanny Jestin</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <%= image_tag "Luc.png", class:"card-img-top", alt: "..." %>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Luc Puiroux</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
</div>
<!-- /.container -->