<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Vous avez une nouvelle commande sur La Fabrique des Castors !
    </p>
    <p>
      @user a reçu le mail suivant :
    </p>
    <p>
      ==========================================================
    </p>
    <%= @user.first_name %> Ta commande à bien été prise en compte !
    <p>
      Voici le contenu de ta commande:
      <% @items.each do |i| %>
        - <%= Item.find(i.item_id).title %>
      <% end %>
    </p>
    <p>
      Conserve bien cet email, il te permettra d'accéder à l'atelier sans crainte ;)
    </p>
    <p> À très bientôt !
    </p>
  </body>
</html>