<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <%= @user.first_name %> ta commande a bien été pris en compte !
    <p>
    Voici le contenu de ta commande:
    <% @items.each do |i| %>
      - <%= i.get_item.title %>
      <% end %>
    </p>
    <p>
    Conserve bien cet email, il te permettra d'accéder à l'atelier sans crainte ;)
    </p>
    <p> À très bientôt !
    </p>
  </body>
</html>