/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require main
 *= require show_user
 *= require assets/stylesheets/shop-homepage
 *= require assets/stylesheets/shop-item
 *= require assets/stylesheets/animate
 *= require assets/stylesheets/hamburgers.min
 *= require assets/stylesheets/main2
 *= require assets/stylesheets/select2.min
 *= require assets/stylesheets/util
 *= require modales
 */

/* FLASH-NOTICE ALERTS*/


.notice{
    z-index: 999;
    position: absolute;
    top: inherit;
    width: 100%;
    background: rgba(36, 147, 140, 0);
    padding: 1.90rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0);
    text-align: center;
}
@-webkit-keyframes salut {  
  0% { background-color: rgba(36, 147, 140, 0.85); }
  0% {color: rgba(255, 255, 255, 1);}
  100% { background-color: rgba(36, 147, 140, 0); }
  100% {color: rgba(255, 255, 255, 0);}
}

.notice {
    -webkit-animation-name: salut;  
    -webkit-animation-iteration-count: 1;  
    -webkit-animation-duration: 10s; 
}   