<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy;2019: la fabrique des castors</small>
    </div>
    <div class="col-6 col-md">
      <h5>A propos</h5>
      <ul class="list-unstyled text-small">
        <li><%= link_to "Contact", new_contact_path, class: "text-muted" %></li>
        <li><%= link_to "Team", new_team_path, class: "text-muted" %></li>
        <li><%= link_to "Proposer des ateliers", new_item_path, class: "text-muted" %></li>
      </ul>
    </div>
    <div class="col-6 col-md location">
      <h5 class="mt-lg-0 mt-sm-4">Localisation</h5>
      <p>55 rue Réaumur, <br/>
         75 002 Paris</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>+33 6 84 28 68 42</p>
      <p><i class="fa fa-envelope mr-3"></i>fabriquedescastors@gmail.com</p>
    </div>
    <div class="col-6 col-md">
      <ul class="list-group">
        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
          <a href="" class="text-muted"><i class="fab fa fa-linkedin mr-1"></i> LinkedIn</a>
        </li>
        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
          <a href="https://www.facebook.com/lafabriquedescastors/?modal=admin_todo_tour" target="_blank" class="text-muted"><i class="fab fa fa-facebook mr-1"></i> Facebook</a>
        </li>
      </ul>
    </div>
  </div>
</footer>