<div class="modal-content">
  <div class="modal-header">
    <button id="close-modal" type="button" class="btn btn-danger d-flex-reverse" data-dismiss="modal">Close</button>
  </div>
  <%=render 'devise/sessions/new'%>
</div>